<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/estilos.css">
    <title>Document</title>
</head>
<body>
    <!--Banner-->
  <div class="banner4">
    <div class="capa">
      <div class="contenido">
        <h1>Bienvenidos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut quaerat incidunt, libero quisquam recusandae
          omnis. Quod, minima? Facilis, sed dicta impedit quis error obcaecati fugit quas! Commodi, odit asperiores?</p>
        <center><a href="#" class="button">Leer mas</a></center>
      </div>
    </div>
  </div>
  </br>
    <h1>Encontrar los datos de las veredas de Hunguia mostrando
        además las medias de cada ítem del dataframe</h1>
</body>
</html>