<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/styles/estilos.css">
    <title>Document</title>
</head>
<body>
     <!--Banner-->
  <div class="banner1">
    <div class="capa">
      <div class="contenido">
        <h1>Bienvenidos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut quaerat incidunt, libero quisquam recusandae
          omnis. Quod, minima? Facilis, sed dicta impedit quis error obcaecati fugit quas! Commodi, odit asperiores?</p>
        <center><a href="#" class="button">Leer mas</a></center>
      </div>
    </div>
  </div>
  </br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium eveniet in beatae fuga minus molestias, quo rerum animi repudiandae sapiente itaque, ex cupiditate voluptatem eum? Rerum corrupti eveniet at perspiciatis.
    </p>
    <table class="table table-striped shadow">
        <thead>
            <tr>
                <th scope="col">foto</th>
                <th scope>Nombre</th>
                <th scope>Ubicacion</th>
                <th scope>Arboles</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>